html, body{
    margin: 0;
    height: 100%;
    font-family: "SUSE", sans-serif;
}

th, td{
    text-align: center;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: white;
}

.container-items {
    height: 92%;
    display: flex;
    justify-content: center;
}

.custom-navbar {
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-navbar{
    display: flex;
    justify-content: space-around;
}

.navbar-title {
    align-self: center;
}

.navbar-toggler{
    display: none;
}

.navbar-items{
    width: 50%;
}

.navbar-navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}