{% extends 'base.html' %}

{% block title %} Gestion de Canchas {% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2> Edicion de Canchas </h2>
            <div class="card">
                <div class="card-body">
                    <form action="/editarcancha/" method="POST">{% csrf_token %}
                        <div class="form-group py-1">
                            <label for="exampleFormControlInput1" class="form-label">Nombre de Cancha</label>
                            <input type="text" id="txtNombre" name="txtNombre" value="{{cancha.Nombre_cancha}}" class="form-control" placeholder="Nombre de cancha">
                        </div>
                        <div class="form-group py-1">
                            <label for="exampleFormControlInput1" class="form-label">ID</label>
                            <input type="number" id="numberID" name="numberID" value="{{cancha.id_cancha}}" class="form-control" placeholder="ID de Cancha" readonly>
                        </div>
                        <div class="form-group py-1">
                            <label for="exampleFormControlInput1" class="form-label">Tipo</label>
                            <input type="text" id="txtTipo" name="txtTipo" value="{{cancha.tipo}}" class="form-control" list="datalistOptions" placeholder="Tipo">
                            <datalist id="datalistOptions">
                                <option value="Futbol 5">
                                <option value="Basquet">
                                <option value="Voley">
                            </datalist>
                        </div>
                        <div class="form-group py-1">
                            <label for="exampleFormControlInput1" class="form-label">Duracion de la Reserva</label>
                            <input type="number" id="numberdu" name="numberdu" value="{{cancha.duracion_reserva}}" class="form-control" placeholder="Duracion de la reserva">
                        </div>
                        <div class="form-group py-1">
                            <button type="submit" class="btn btn-success btn-block text-white"> Guardar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}